/* Base Styles -------------------- */

* {
  box-sizing: border-box;
}

.portfolio-image {
  display: block;
  max-width: 100%;
  margin: 45px 0 30px;
  }

.portfolio-section {
  @include breakpoint(medium){
      float: left;
      max-width: 50%;
      box-sizing: border-box;
      padding: 0 6px;
  }

  @include breakpoint(large) {
      float: left;
      max-width: 33%;
      box-sizing: border-box;
      padding: 0 6px;
  }
}

.portfolio {
  margin: 85px 0;
}

.contact {
  margin-top: 115px;
  @include breakpoint(large) {
    max-width: 60%;
    margin: 0 auto;
  }
}

.contact h1 {
  margin-bottom: 32px;
}

.contact-info {
  margin-top: 22px;
  

  p {
    display: inline-block;
    line-height: .4em;
    margin-right: 15px;
  }

  a {
    display: inline-block;
    line-height: .4em;
  }
}

.phone,
.email {
  display: block;
}





