/* Variables -------------------- */

// Descriptive color variables

$white          : #fff;
$black          : #000;
$navy-blue      : #2572AA;
$dark-grey      : #4a4a4a;
$light-grey     : #7f7f7f;
$lighter-grey   : #e7e7e7;

// Functional color variables

$color-prim         : $light-grey;
$color-sec          : $dark-grey;
$color-link         : $navy-blue;
$color-body         : $white;

// Font 

$body-font          : 16px;
$large-header-font  : 1.5em;
$medium-header-font : 1.1em;
$main-nav-font      : .85em;
$portfolio-font     : .95em;
$footer-font        : .8em;
$med-intro-font     : 20px;
$large-contact-font : 19px;


$stack-sans-serif : sans-serif;


